.element-to-animate {
    opacity: 0;
    transition: all 1s ease-in-out;
  }
  
  .element-to-animate.visible {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  
  .element-to-animate.hidden {
    opacity: 0;
    filter: blur(25px);
    transform: translate(-100px);
    transition: all 1s ease-in-out;
  }